
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fake</title>
</head>
<body>

    <h2>this Email is already Registered or something went wrong  </h2>
    <a asp-action="Logout" asp-controller="JobSeekers">Go back to login page</a>
</body>
</html>
