@model UpdatePassword
@{
    ViewData["Title"] = "Update_Password";
    Layout = "~/Views/Shared/_mstLayout.cshtml";
}

<form asp-action="Update_Password" align="center" method="post" style="margin-top:150px;">

    <font size=5px font color="black">

        
        New Password<br><input type="password"  asp-for="Password"  Name="Password" value="" placeholder="Enter your New Password"><br>

        <input type="submit" name="Submit" value="Login" class="button">
    </font>
   
   <h1>@ViewBag.sta</h1>
   <h1>@ViewBag.Id1</h1>
   <h1>@ViewBag.pass</h1>


</form>



